@page "/"
@using DotNetConfDemos.Data;
@using DotNetConfDemos.Components;

<PageTitle>Index</PageTitle>

<h1>Organization</h1>

<OrgChart TChildren="Employee" Elements="Enumerable.Repeat(Org, 1)">
    <DisplayCard Element="context" />
</OrgChart>

@code {
    private Employee Org = new()
    {
        Name = "Daniel Roth",
        Title = "Principal Program Manager",
        Country = "United States of America",
        Telephone = "+1 246 357 198",
        Reports = new List<Employee>()
        {
            new()
            {
                Name = "Javier Calvarro Nelson",
                Title = "Senior Software Engineer",
                Country = "Spain",
                Telephone = "+34 987 654 321"
            },
            new ()
            {
                Name = "Steve Sanderson",
                Title = "Principal Software Engineer",
                Country = "United Kingdom",
                Telephone = "+44 123 456 789"
            }
        }
    };
}
